.megaForm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.megaForm label {
    font-size: .9em;
}

.megaForm input {
    width: 25%;
    height: 24px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #dbd2d2;

}   